appdirs==1.4.4
argcomplete==1.12.1
astroid==2.8.2
autopep8==1.5.7
backcall==0.2.0
backports.entry-points-selectable==1.1.0
Beaker==1.11.0
CacheControl==0.12.6
cffi==1.14.6
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==35.0.0
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.3.1
Flask==2.0.2
Flask-PyMongo==2.3.0
future==0.18.2
Glances==3.2.3
greenlet==1.1.2
gunicorn==20.1.0
html5lib==1.1
idna==3.3
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
jupyter-client==7.0.6
jupyter-core==4.8.1
lazy-object-proxy==1.6.0
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
meson==0.60.1
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
neovim==0.3.1
nest-asyncio==1.5.1
numpy==1.21.1
openpyxl==3.0.9
ordered-set==4.0.2
packaging==20.9
pandas==1.3.3
parso==0.8.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
pip-chill==1.0.1
platformdirs==2.4.0
ply==3.11
progress==1.6
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.20
Pygments==2.10.0
pylint==2.11.1
pymongo==3.12.1
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pyzmq==22.3.0
ranger-fm==1.9.3
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
s-tui==1.1.3
setproctitle==1.2.2
six==1.16.0
sympy==1.8
termcolor==1.1.0
tk==0.1.0
tldr==2.0.0
toml==0.10.2
tomli==1.2.1
tornado==6.1
traitlets==5.1.0
typing-extensions==3.10.0.2
urllib3==1.26.7
urwid==2.1.2
virtualenv==20.9.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.12.1
xlrd==2.0.1
